$nhsuk-text-color: #212b32;
$nhsuk-secondary-text-color: #4c6272;

// Links
$nhsuk-link-color: #005eb8;
$nhsuk-link-hover-color: #7c2855;
$nhsuk-link-visited-color: #330072;
$nhsuk-link-active-color: #002f5c;

//  Focus state
$nhsuk-focus-color: #ffeb3b;
$nhsuk-focus-text-color: #212b32;

//  Border
$nhsuk-border-color: #d8dde0;
$nhsuk-form-border-color: #4c6272;

//  Error state
$nhsuk-error-color: #d5281b;

//  Button
$nhsuk-button-color: #007f3b;
$nhsuk-secondary-button-color: #4c6272;

// Colour palette
$color_nhsuk-blue: #005eb8;
$color_nhsuk-green: #007f3b;
$color_nhsuk-yellow: #ffeb3b;
$color_nhsuk-warm-yellow: #ffb81c;
$color_nhsuk-red: #d5281b;
$color_nhsuk-dark-pink: #7c2855;
$color_nhsuk-purple: #330072;
$color_nhsuk-grey-1: #4c6272;
$color_nhsuk-grey-2: #768692;
$color_nhsuk-grey-3: #aeb7bd;
$color_nhsuk-grey-4: #d8dde0;
$color_nhsuk-grey-5: #f0f4f5;
$color_nhsuk-white: #ffffff;
$color_nhsuk-pale-yellow: #fff9c4;
